.Edit{
    z-index: 3;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #1e1e1e;
    padding: 14rem 3rem 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 7rem;
    &_Task{
        display: flex;
        gap: 3rem;
        flex-direction: column;
        .h1{
            font-size: 2.4rem;
            color: #fff;
            background-color: #1e1e1e;
            max-width: calc(100vw - 6rem);
        }
        .h2{
            font-size: 2rem;
            color: #fff;
            background-color: #1e1e1e;
            max-width: calc(100vw - 6rem);
            resize: none;
            height: 14rem;
        }
    }
    &_Info{
        h1{
            margin-bottom: 3rem;
        }
        &_points{
            display: flex;
            flex-direction: column;
            width: calc(100vw - 6rem);
            gap: 3rem;
            li{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
            }
        }
    }
    &_Button{
        position: fixed;
        flex-direction: column;
        bottom: 6rem;
        left: 0;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        p{
            opacity: 0.8;
            margin-bottom: 3rem;
        }
    }
    button{
        display: flex;
            padding: 1.4rem 3rem;
            justify-content: center;
            align-items: center;
            border-radius: 5rem;
    }
}